<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1">
  <listeners>
    <listener class-name="iti.apitesting.listeners.LoggingListener" />
  </listeners>

  <test name="MainTest">
    <classes>
      <!--
      <class name="iti.apitesting.tests.T01_Login" />
      <class name="iti.apitesting.tests.T02_Customers" />
      <class name="iti.apitesting.tests.T03_Products" />
      <class name="iti.apitesting.tests.T04_Sales" />
      <class name="iti.apitesting.tests.T05_Expenses" />
      -->
      <class name="iti.apitesting.tests.E2E" />
    </classes>
  </test>
</suite>
